body {
  background-color: #f2f2f2;
  margin: 0px;
  font-family: tahoma;
  color: #282828;
}

.nav-bar {
  background: linear-gradient(-90deg,#16c0b0, #6a72cf);
  height: 4em;
  margin-bottom: 1.5em;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.57);
}

.product-display {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.products-container {
  text-align: center;
}

.products {
  display: inline-flex;
  flex-direction: row;
}

#htitle {
  text-align: center;
  color: aliceblue;
}

.btn-buy {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  color:rgb(5, 99, 68);
}

#cart {
  float:right;
  margin-right: 1rem;
  background-color: aquamarine;
  cursor:pointer;
  padding: 0.6rem;
}

.shopping-cart {
  display: block;
  width:50%;
  margin: auto;
}

.shopping-cart-item {
  padding-left: 1.5em;
  text-align: left;
  background-color:beige;
}

.cart-info {
  text-align:left;
}

.item-qty {
  display:flex;
  width: fit-content;
  height:fit-content;
}

#btn-minus {
  font-size: larger;
  margin-left: 2em;
  padding-left: 1.0rem;
  padding-right: 1.0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}